@import 'abstracts/variables';
@import 'abstracts/mixins';

//$fa-font-path: "~fontawesome/fonts";
//@import '~fontawesome-free/scss/icons';
@import 'reset/reset';
@import 'reset/typography';

@import 'components/logo';
@import 'components/service';

@import 'layout/about';
@import 'layout/banner';
@import 'layout/grid';
@import 'layout/nav';
@import 'layout/main';
@import 'layout/footer';
@import 'layout/services';
@import 'layout/contact';
@import 'layout/associations';