%main-section-shared {
  * {
    margin-bottom: 1vh;
  }
}

@mixin tablet-landscape-up {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin desktop-up {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin service-columns {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin: 0;
      div {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        p {
          margin-bottom: 0;
        }
      }
      span {
        align-self: center;
      }
  }
}
