.service:not(:first-of-type){
  margin-top: 40px;
}

.service:first-of-type {
  margin-top: 20px;
}

.service {
  span {
    display: none !important;
  }
  h2 {
    padding-left: 10px;
  }
  p, ul {
    background: $offWhite;
    padding: 10px;
    border-radius: 2px;
    border-bottom: $border;
    border-right: $border;
  }
}

