.service:not(:first-of-type){
  margin-top: 40px;
}

.service:first-of-type {
  margin-top: 20px;
}

.service {
  span {
    display: none !important;
    color: $siteBlue;
  }
  h2 {
    padding-left: 10px;
    color: $siteBlue;
  }
  p, ul {
    background: $offWhite;
    padding: 10px;

    border-radius: 2px;
    border-bottom: $border;
    border-right: $border;
  }
  @include tablet-portrait-up {
    span {
      display: inline-block !important;
      font-size: 100px;
    }
  }
}