#services {
  @extend %main-section-shared;
  
  .service:nth-child(even) {
    @include tablet-portrait-up {
      display: grid;
      grid-template-columns: 100px auto;
      grid-template-rows: auto;
      span {
        grid-column: 1/2;
        grid-row: 1;
      }
      div {
        grid-column: 2/3;
        grid-row: 1;
        margin-left: 5vw;
      }
    }
    @include service-columns;
  }
  .service:nth-child(odd) {
    @include tablet-portrait-up {
      display: grid;
      grid-template-columns: auto 100px;
      grid-template-rows: auto;
      span {
        grid-column: 2/3;
        grid-row: 1;
        align-self: center;
      }
      div {
        grid-column: 1/2;
        grid-row: 1;
        margin-right: 5vw;
      }
    }
    @include service-columns;
  }
  @include desktop-up {
    grid-row: 3;
    display: grid;
    grid-template-columns: 49% 50%;
    grid-gap: 2vh;
    h1 {
      grid-column: 1/3;
    }
    * {
      margin-bottom: 0;
    }
  }
}

